@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$colorPrimary: #EF4136;
$colorSecondary: #3C2415;

.navBarBackground {
        color: white !important;
        background-color: $colorPrimary !important;
        border-color: #EF4136 !important;
        font-family: 'Sarabun', sans-serif;
}

.font-color {
        
}